@charset "utf-8";

.container .jumbotron {
	background-image:
	url(images/header-background.jpg);
	margin-top: 10px;
	color: #FCF3F3;
	height:300px;
}
.container .row {
margin-top: 10px;
margin-bottom: 20px;
}
.row .col-xs-6 .row {
	margin-top: 20px;
}
.container footer {
	background-color: #E95D70;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	color: #FCF3F3;
	text-align: center;
	margin-top: 10px;
}

	.container .navbar.navbar-default {
	background-color: #E95D70;
}
.container-fluid .navbar-header
.navbar-brand {
	color: #FCF3F3;
}
.nav.navbar-nav li a {
	color: #FCF3F3;
}
.carousel-inner > .item > img
  {
      width: 100%;
      margin: auto;
  }
